## for_format_list

In [4]:
s = '{} {} {}'
pr = s.format('창훈', 'ㅊㅎ', '창ㅎ')
print(pr)

창훈 ㅊㅎ 창ㅎ

In [6]:
s = '{}이는 {}와 {}을 싫어해'
pr = s.format('창훈', 'ㅊㅎ', '창ㅎ')
print(pr)

창훈이는 ㅊㅎ와 창ㅎ을 싫어해

In [8]:
s = '{}이는 {}번이고 {}회사에 갔어'
pr = s.format('창훈', 30217, '게임')
print(pr)

창훈이는 30217번이고 게임회사에 갔어

## [문제]햄버거 1개는 4달라

In [ ]:
food = '햄버거'
num = 2
price = num*4
s = '{} {}개는 {}달라'
pr = s.format(food,num,price)
print(pr)

In [11]:
food = input('메뉴입력 >> ')
num = int(input('개수 입력 >> '))
price = num*4
s = '{} {}개는 {}달라'
pr = s.format(food, num, price)
print(pr)

메뉴입력 >> 껌
개수 입력 >> 4
껌 4개는 16달라

In [ ]:
menu = list(map(int,input('햄버거 개수와 가격 >> ').split()))

In [16]:
type(menu)

str

In [18]:
menu[0], menu[1]

('7', '4')

In [ ]:
price = menu[0] * menu[1]
s = '{} {}개는 {}달라'
pr = s.format(food, num, price)
print(pr)

In [ ]:
stu = '%s %d학년 %.2f'
pr = stu%('인천여상', 3, 'OOO')
print(pr)

In [ ]:
juso = '     인천시 남동구 구월동  '

In [ ]:
type(juso). len(juso)

In [ ]:
add = juso.strip()

In [ ]:
add. len(add)

In [ ]:
add.juso.startswith('인천')

In [ ]:
add.endswith('구월동')

In [ ]:
if 조건식 : 
    실행문1
else:
    실행문2

num=10 
if num==10 :
    print('숫자는 10')
else:
    print('숫자는 10이 아니다.)

In [ ]:
num=10 
if num%2==10 :
    print('짝수')
else:
    print('홀수')

## [문제]입력을 받아서 짝수(예쓰)인지 홀수(노)인지 알려줌
- 입력을 받는다
- 정수로 바꾼다
- if 문으로 짝수인지 확인
- 출력

In [ ]:
num = in(input())
if num%2==0;
    print('짝수')
else:
    print('홀수')

In [ ]:
sum=0
for i in range(20, 31) :
    if i%2 != 0 : 
    sum+=i
    print (i)
print('합계 :', sum)

## [문제 만들기]
- for, if

In [5]:
sum= 0
for i in range(1,101):
    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100