## Pandas

## Boolean

In [6]:
True == True

True

In [8]:
True == 0

False

In [10]:
True == '1'

False

In [12]:
True != 0

True

In [14]:
False == 0

True

In [15]:
True or False

True

In [16]:
1 == '1'

False

In [17]:
True == False

False

In [18]:
1>3

False

In [19]:
eng = 'Korea COVID 19'
eng

'Korea COVID 19'

In [20]:
eng.lower()

'korea covid 19'

In [21]:
eng.upper()

'KOREA COVID 19'

In [25]:
kor='English'
kor

'English'

In [23]:
kor.lower()

'english'

In [24]:
kor.upper()

'ENGLISH'

In [43]:
list_data=[1,'두번째',3,4,100,5]
tuple_data=(1,2,3,4,5)
dic_data= { 1:100,2:200,3:300,4:400,5:500}

In [31]:
type(list_data), type(tuple_data), type(dic_data)

(list, tuple, dict)

In [33]:
list_data[0], list_data[1]

(1, '두번째')

In [36]:
list_data[:3]

[1, '두번째', 3]

In [38]:
list_data[3:]

[4, 5]

In [45]:
list_data[-1]='마지막'

In [46]:
list_data

[1, '두번째', 3, 4, 100, '마지막']

In [48]:
tuple_data

(1, 2, 3, 4, 5)

In [49]:
tuple_data[2]='가운데'

3

In [51]:
data=[]

In [53]:
data.append('java')

In [54]:
data[0], data[-1], data[1:], data[:2]

('java', 'java', ['java'], ['java', 'java'])

In [59]:
data.sort()
data

['java', 'java']

In [58]:
data.reverse()
data

['java', 'java']

In [65]:
dic = {100:'태민',200:'승준','이름' :'준섭',400:'민영',500:'승훈'}
dic

{100: '태민', 200: '승준', '이름': '준섭', 400: '민영', 500: '승훈'}

In [67]:
dic[100], dic[200], dic['이름']

('태민', '승준', '준섭')

In [68]:
dic.keys()

dict_keys([100, 200, '이름', 400, 500])

In [70]:
dic.values()

dict_values(['태민', '승준', '준섭', '민영', '승훈'])

In [72]:
a=[10,10,10,10,10]
a

[10, 10, 10, 10, 10]

In [74]:
b=[10,10,10,10,10]
b

[10, 10, 10, 10, 10]

In [76]:
f=[10,10,10,10,10]
f

[10, 10, 10, 10, 10]

In [82]:
pd.DataFrame(data =dict(c = a, r = b , j = f), index=['1교시','2교시','3교시','4교시','5교시'])

      c   r   j
1교시  10  10  10
2교시  10  10  10
3교시  10  10  10
4교시  10  10  10
5교시  10  10  10

In [81]:
import pandas as pd